.chidraulica
	section
		&:nth-child(1)
			padding 50px 0px 0px 0px !important
header
	color #C7352D
	background-color #C7352D
	&.chidraulica
		position fixed
		z-index 2
		.header-menu
			background-color #C7352D
			bottom auto
			width auto
			padding 30px
			right 0
			.menu-link
				text-align center
				nav
					display inline-block
					ul
						font-size 14px
						padding 10px
						li
							line-height 50px
							border-bottom 1px solid rgba(light,.2)
							&:last-child
								border-bottom 0px
							a
								font-size 20px
								color light
		.button-nav
			transform scale(.8)
			right 5px
		.header-menu-top
			position fixed
			top 0
			width 100%
			background-color #C7352D
			padding 10px
			padding-right 55px
			.header-logo
				img
					width 100%
			.header-contact
				display inline-block
				float right
				.phone-block
					padding 5px 15px
					background-color white
					border-radius 20px
	


#body
	&.chidraulica
		.section-about-us
			color #00458B
			background-color #00458B
			.section-titles
				height 100%
				background-color lighter
				padding 15px
				display block
				font-size 30px
				.button-title.button-title
					border-radius 23px
					padding 5px 15px
					background-color lighter
					position absolute
					top -22px
					box-shadow shadow_2
					left 0
				span
					&.vertical-align
						display inline-block
						width 1px
						height 26%
						position relative
			.section-content
				background-color lighter
				padding 15px