.topbar
	background-color #09B2DA
	padding 10px 10px
	position fixed
	z-index 2
	top 0
	width 100%
	text-align right
	ul
		width 100%
		li
			display inline-block
			padding 0 5px
			a
				color white
				.fa
					color #09B2DA
					background-color white
					border-radius 50%
					width 15px
					height 15px
					text-align center
					padding 2px
					&.fa-instagram
						padding 0px
						border-radius 0px
						position relative
						bottom 2px
.header.brother
	position fixed
	z-index 2
	top 60px
	right 0
/*	ul
		li
			font-weight bold
			display inline-block
			font-size 20px
			a
				border-bottom 1px dashed white
				border-top 1px dashed white
				color white
				padding 5px 20px
				cursor pointer
				transition ease-in-out all .5s
			&:last-child
				a
					border-left 1px dashed white
			&:first-child
				a
					border-right 1px dashed white
*/
.header.brother
	width 330px
	right -4px
	@media $break-sm
		right 50px
	a
		text-transform uppercase
		font-weight bold
		display block
		float left
		width 33%
		text-align center
		color black
		background-color white
		padding 10px
		border 1px solid #d2d2d2
		transition ease all .2s
		&.active
			transform scale(1.1)
			box-shadow 1px 1px 13px 1px transparent
			background #09B2DA
			color white
			border-color transparent
			&:hover
				transform scale(1.1)
				box-shadow 1px 1px 13px 1px lightgrey
				background #09B2DA
				color white
				border-color transparent
	ul
		li
			&:nth-child(2)
				a
					border-left-color transparent
					border-right-color transparent
			a
				&:hover
					background-color black
					color white
					border 1px solid black