.menu 
    width 100%
    background-color red

    li
        float right 
        display inline-block
        font-size 1em

        a
            display block
            margin-right 50px
            padding 10px 30px
            
.brand
    float left
    display block
    font-size 2em
    margin-left 80px