section
	padding 40px
	text-align center
	&:nth-child(1)
		padding-top 50px

	&:nth-child(even)
		background-color white
		//background-color lighter
	
	&.section-white
		background-color white
		
	&.section-light
		background-color light

	&.section-lighter
		background-color lighter
				
	&.section-dark
		background-color dark
		color white

	&.section-gray
		background-color dark
		color white
		
	&.section-black
		background-color black
		color white
		
	&.section-color
		background-color color
		color white

	&.section-color-2
		background-color color_2
		color white

	&.section-center
		text-align center
	&.section-left
		text-align left
	.section-bg
		&.bg.bg-loaded
			opacity .2
	
	.section-title
		display inline
		position relative
		//&:after
		//	content " "
		//	width 10px
		//	height 5px
		//	background-color dark
		//	position absolute
		//	bottom 0
		//	left 0
		//&.section-title-in
		//	&:after
		//		animation titleunderline 1s ease-in-out forwards 1s
				
	.section-description
		margin-top 20px

	.section-bg-video
		cover absolute
		z-index -1
		overflow hidden
		&.section-video-dark
			background-color dark
			color lighter
		.youtube-iframe
			position absolute
			width 300%
			height 100%
			left -100%
			top 0
			opacity .2
			animation fadeIn .5s 1s ease backwards
			@media $break-sm
				width 150%
				left -25%
			@media $break-lg
				width 100%
				height 200%
				left 0
				top -50%
			&:after
				content ""
				cover absolute


	.section-limit
		position relative
		max-width limit
		margin 0 auto
		padding sep*2 sep
		@media $break-md
			padding sep*3 sep
		@media $break-lg
			padding sep*4 sep

	.section-limit-sm
		@media $break-sm
			position relative
			max-width limit
			margin 0 auto
			padding sep*2 sep
		@media $break-md
			padding sep*3 sep
		@media $break-lg
			padding sep*4 sep


	.section-group
		position relative

	.section-content
		max-width limit_3
		margin 0 auto 40px
		&:last-child
			margin-bottom 0
		h1
		h2
		h3
			margin-bottom 15px
			&:last-child
				margin-bottom 0
		&>*
			margin-bottom sep
			animation slideFadeUp .5s ease backwards
			animation-stagger 4, .05s
			&:last-child
				margin-bottom 0

	.section-content-va
		position relative
		min-height 400px
		line-height 400px
		.section-content
			display inline-block
			vertical-align middle
			line-height global_lh

	.section-content-va-md
		min-height 80px
		@media $break-md
			position relative
			min-height 400px
			line-height 400px
			.section-content
				display inline-block
				vertical-align middle
				line-height global_lh

	.section-subtitle
		@extends .subtitle

	.section-buttons
		.button
			position relative
			z-index 1
			margin-top 5px
			margin-bottom 5px


	&.section-map
		.section-map
			height 200px
			@media $break-md
				z-index 1
				cover absolute
		.section-limit
			overflow hidden
		.section-map-box
			float left
			max-width 400px
			z-index 2
			position relative
			background white
			radius rad
			animation fadeIn .5s .2s ease backwards
			@media $break-md
				padding 40px
			ul
				li
					overflow hidden
					margin-bottom 10px
					padding-top 2px
					a
						color dark
					span
						float left
						circle 25px
						background color
						color white
						margin-right 10px
						margin-top -2px



	&.section-logos
		text-align center
		a
			display inline-block
			vertical-align middle
			margin 20px 10px
			text-align center
			filter grayscale(1)
			transition .4s ease
			max-width 80px
			height 30px
			line-height 30px - 2
			animation slideFadeLeft .5s ease backwards
			animation-stagger 8, .05s
			img
				max-height 60px
				max-width 100%
				display inline-block
				vertical-align middle
			@media $break-lg
				max-width 110px
				height 40px
				line-height 40px - 2
				margin 10px 20px
				img
					max-height 40px
			&:hover
				filter grayscale(0)



	&.section-quote

		.slider-nav
			display none
			@media $break-sm
				display block

		.section-quote-avatar
			circle 60px, 2px
			margin -20px auto 20px
			position relative
			background white
			border 2px solid white
			@media $break-md
				circle 100px

		.section-quote-text
			@extends .subtitle
			&:before
			&:after
				content "“"
				font-size 34px
				display inline-block
				vertical-align middle
				opacity .4
			&:after
				content "”"

		.section-quote-author
			strong
				display block
				letter-spacing 3px
				text-transform uppercase
			span
				font-size 90%
				opacity .6







