
@import 'vars'
@import 'mixins'

@import $bower-path + '/bootstrap-stylus/bootstrap/variables'
@import $bower-path + '/bootstrap-stylus/bootstrap/mixins/clearfix'
@import $bower-path + '/bootstrap-stylus/bootstrap/mixins/grid-framework'
@import $bower-path + '/bootstrap-stylus/bootstrap/mixins/grid'
@import $bower-path + '/bootstrap-stylus/bootstrap/utilities'

@import 'core/global'
@import 'core/grid'
@import 'core/helpers'
@import 'core/animations'
@import 'core/forms'
@import 'core/buttons'
@import 'core/content'

@import 'coreModules/slider'

@import $bower-path + '/components-font-awesome/css/font-awesome.min.css'

