
extends ../template.jade

block page

	.page

		.page-header
			.page-header-bg.bg
				+img(1000,400)
			.page-header-limit
				h1.page-header-title Carro de compra

		.page-body
			.limit.limit-3.inner.inner-2

				.cart
					.cart-box.center
						h2 Compra exitosa
						p: +lorem(25)
						a(href="index.html").button.button-lg Acción



