extends ../template3.jade

block page
	section.section-content.scrollable-section.section-green.section-main
		.section-body.section-left
			.section-logo
				img(src="img/javilogo.png")
			.section-titles
				h2.h1.section-title Especialistas en sistemas de filtración de agua
				p.section-subtitle para la Agricultura, Industria y Mineria
			.section-content
				+lorem(20)
		.section-background.content.bg
			img(src="http://lorempixel.com/700/600/")
