
extends ../template.jade

block page

	.page

		.page-header
			.page-header-bg.bg
				+img(1000,400)
			.page-header-limit
				h1.page-header-title Productos


		.page-filters
			.limit.inner
				form
					.cols
						.col-md-4.col-lg-3
							select
								option Ordernar por:
						.col-md-4.col-lg-3
							select()
								option Ordernar por:
						.col-md-4.col-lg-3
							select()
								option Ordernar por:
						.col-md-4.col-lg-3
							select()
								option Ordernar por:

		.page-body

			section.section-products
				.section-limit
					.cols
						+loop(2)
							- nnnn = 0
							+loop(6)
								- nnnn = nnnn + 1
								.col-sm-6.col-md-4.col-lg-3

									article.article-product(data-cart-product)

										.article-image
											a.bg(href="#")
												+uploads("product"+nnnn+".jpg")

										.article-body
											h3.h4.article-title: a(href="product.html"): +lorem(4)
											p.article-description: +lorem(6)

											.article-price
												.article-price-new $2.000
												.article-price-old $3.000

											.article-button
												a(href="cart.html").button.button-lighter
													span.fa.fa-shopping-cart
													|  Agregar al carro

