
footer
	background black
	color gray
	text-align center
	padding 20px 0
	@media $break-sm
		text-align left

	ul li a
		color gray
		display inline-block
		padding 4px 0
		@media $break-sm
			padding 8px 0
		&:hover
			color white

	.inner
		overflow hidden
	
	.footer-center
		text-align center
		
	.footer-left
		float left

	.footer-right
		float right
	
	.footer-phone
		title h2
		font-weight bold
		font-family font_2
		color white
		margin-bottom 10px

	.footer-text
		margin-bottom 10px

	.footer-social
		a
			display inline-block
			circle 30px
			background color
			color white
			margin-right 2px