header
	.button-nav
		position fixed
		top 5px
		right 20px
		mix-blend-mode exclusion
		z-index 3
		.header-ham
			cursor pointer
			padding 10px
			position relative
			right 0
			background-color dark
			transition ease-in-out all 1s
			&.on
				background-color transparent
			.ham-bar
				background lighter
				width 30px
				height 2px
				margin-bottom 8px
				transition ease-in-out all .5s
				transform-origin left
				&:nth-child(1)
					&.on
						transform rotate(40deg)
				&:nth-child(2)
					width 20px
					transition ease-in-out all .5s
					&.on
						width 0px
						
				&:nth-child(3)
					margin-bottom 0px
					&.on
						transform rotate(-40deg)
	.header-menu
		z-index 3
		width 100%
		height 100%
		margin-bottom -10px
		bottom 0
		top 0
		position fixed
		transform translateX(100%)
		background black
		transition cubic-bezier(0.8, 0.18, 0.58, 1) all .5s
		opacity 0
		overflow hidden
		&.on
			transform translateX(0%)
			opacity 1
		.nav-container
			display table
			height 100%
		nav
			display table-cell
			vertical-align middle
			ul
				font-size 7vw
				line-height 8vw
				padding 50px
				padding-right 0
				li
					a
						&:hover
							.letter
								color black
								&:after
									content ""
									width 100%
					a
						.letter
							text-transform uppercase
							width 5vw
							display table-cell
							text-align center
							vertical-align middle
							color white
							position relative
							&.empty
								color transparent
							&:after
								content " "
								width 0%
								background white
								height 100%
								position absolute
								left 0
								transition ease-in-out all .3s
								z-index -1
	.header-logo
		mix-blend-mode: exclusion;
		font-size 20px
		z-index 3
		position fixed
		top 15px
		left 20px
		transition all ease-in-out .8s
		font-weight bold
		a
			transition all ease-in-out .8s
			color lighter
			span
				background-color rgba(dark,.9)
				padding 5px
		&.on
			transition all ease-in-out .8s
			color white
			a
				transition all ease-in-out .8s
				color white
				span
					transition all ease-in-out .8s
					background-color transparent