.modal-container
	transform scale(.01)
	width 100%
	height 100%
	position fixed
	top 0
	text-align center
	transition ease-in-out all .5s
	padding 90px 20px
	opacity 0
	z-index 2
	&.on
		opacity 1
		transform scale(1)
	.modal-box
		background-color lighter
		padding 20px
		padding-top 35px
		cursor pointer
		max-width 100%
		display inline-block
		z-index 1
		position relative
		@media $break-sm
			width 400px
		.fa
			position absolute
			top 0
			right 0
			padding 10px
	form
		.name
			position relative
			&:after
				content "Nombre"
				font-family 'Open Sans Condensed', sans-serif
				position absolute
				top 10px
				left 10px