
footer
	.limit.inner
		.cols
			.col-sm-6.col-md-4.col-lg-3
				h4: +lorem(2)
				ul
					li: a(href="#"): +lorem(3)
					li: a(href="#"): +lorem(2)
					li: a(href="#"): +lorem(3)
					li: a(href="#"): +lorem(2)
					li: a(href="#"): +lorem(2)
			.col-sm-6.col-md-4.col-lg-3
				h4: +lorem(2)
				ul
					li: a(href="#"): +lorem(3)
					li: a(href="#"): +lorem(2)
					li: a(href="#"): +lorem(3)
					li: a(href="#"): +lorem(2)
					li: a(href="#"): +lorem(2)
			.col-sm-6.col-md-4.col-lg-3
				h4: +lorem(2)
				ul
					li: a(href="#"): +lorem(3)
					li: a(href="#"): +lorem(2)
					li: a(href="#"): +lorem(3)
					li: a(href="#"): +lorem(2)
					li: a(href="#"): +lorem(2)
			.col-sm-12.col-lg-3
				.footer-phone +56 2945 3357
				.footer-text: +lorem(12)
				.footer-social
					a.footer-social-facebook(href="#"): span.fa.fa-facebook
					a.footer-social-twitter(href="#"): span.fa.fa-twitter
					a.footer-social-instagram(href="#"): span.fa.fa-instagram

