header.chidraulica

	.header-menu-top
		.header-logo
			img(src="img/chidraulica.png")
		.header-contact
			.phone-block Llama (SOS) 2250 9204

	.header-menu
		.menu-link
			nav
				ul
					li: a(href="#nosotros") Quienes somos
					li: a(href="#chidraulica") Central hidráulica
					li: a(href="#tcenter") Turbo center
					li: a(href="#suspencion") Suspencion
					li: a(href="#contactanos") Contactanos
		
	.button-nav
		.header-ham
			.ham-bar
			.ham-bar
			.ham-bar