
header
	.header-menu
		.nav-container
			nav
				ul.split-letters
					li: a(href="#home") Inicio
					li: a(href="#nosotros") Sobre nosotros
					li: a(href="#como-lo-hacemos") Servicios
					li: a(href="#tecnologias") Trabajos
		
	.button-nav
		.header-ham
			.ham-bar
			.ham-bar
			.ham-bar

	.header-logo
		a(href="#index"): span.section-name Focuslab


