header.javihidraulica

	.header-menu
		.header-content
			.header-search
				form
					span.fa.fa-search 
					span.search Buscar
					input(type="text")
			.menu-link
				nav
					ul
						li: a(href="#nosotros") Nosotros
						li: a(href="#productos") Productos
						li: a(href="#procesos") Procesos
						li: a(href="#proyectos") Proyectos
		.header-contact
			.header-contact-content
				a.contact-button Contacto
				.contact-description
					.contact-email Ventas@javihidraulica.com
						span.fa.fa-envelope 
					.contact-phone +56 22 424 5900
						span.fa.fa-phone
					.contact-address Capitán Ávalos 045-B<br>La Granja, Santiago, Chile
						span.fa.fa-target
		
	.button-nav 
		span Menú
		.header-ham
			.ham-bar
			.ham-bar
			.ham-bar