header
	.topbar
		ul
			li: a(href="#") Infante 1415
			li: a(href="#") admision@brother.cl
			li: a(href="#"): span.fa.fa-facebook
			li: a(href="#"): span.fa.fa-twitter
			li: a(href="#"): span.fa.fa-instagram
	.header.brother
		ul
			li: a(href="#") Programa
			li: a(href="#") Mentores
			li: a(href="#") Dona
